<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Asman-Electronics</title>
<!--

-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
	<link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/magnific-popup.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static '/slick/slick.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static '/slick/slick-theme.css' %}"/>
	<link rel="stylesheet" href="{% static '/css/tooplate-style.css' %}">
	<link rel="stylesheet" href="{% static '/css/video.css' %}">


<script>
		var renderPage = true;

	if(navigator.userAgent.indexOf('MSIE')!==-1
		|| navigator.appVersion.indexOf('Trident/') > 0){
   		/* Microsoft Internet Explorer detected in. */
   		alert("Please view this in a modern browser such as Chrome or Microsoft Edge.");
   		renderPage = false;
	}
</script>
</head>
<body>

	 <!-- The video{% static '/videos/video.mp4' %} -->

	 <video id="background-video" autoplay='true' loop='true' muted='true' poster="https://en.skywellev.com/static/web/img/et5_banner.jpg?v=v1">
		<source src="https://en.skywellev.com/static/web/img/et5_banner.jpg?v=v1" type="video/mp4">
	  </video>



  </div> 

	<!-- Loader -->
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<!-- Page Content -->
	<div class="container-fluid tm-main">
		<div class="row tm-main-row">

			<!-- Sidebar -->
			<div id="tmSideBar" style="display: flex; align-items: flex-start;" class="col-xl-3 col-lg-2 col-md-12 col-sm-12 sidebar">
				<button id="tmMainNavToggle" class="menu-icon">&#9776;</button>
				<div class="inner">
					<nav id="tmMainNav" class="tm-main-nav">
						<ul>
							<li>
								<div id="header">
									<div class="logo1">
									  <img src="{% static 'img/qwe.jpg' %}" width="300" height="220" />
									 </a>
									</div>
								   </div>
								<div class="elementor-widget-wrap"></div>
								<div class="elementor-element elementor-element-628abb65 elementor-widget elementor-widget-heading" data-id="628abb65" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<br>
					<h4 class="elementor-heading-title elementor-size-default">ASMAN ELECTRONICS</h4>		</div>
						</div>
						<div class="elementor-element elementor-element-17800619 elementor-widget elementor-widget-heading" data-id="17800619" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
						</div>
									<h6>Добро пожаловать!</h6>
									<!-- <br>
									<br> -->
								</a>
							</li>
							<li>
								
								<link rel="stylesheet" href="regist.html">
								<a href="#products" id="tmNavLink2" class="scrolly" data-bg-img="constructive_bg_02.jpg" data-page="#tm-section-2" data-page-type="carousel">
				
									<span>Контакты</span>
								</a>
								
							</li>							
							<li>
								<a href="#company" class="scrolly" data-bg-img="constructive_bg_03.jpg" data-page="#tm-section-3">
									
								
									<span>Машины</span>
								</a>
							</li>
							<li>
								<a href="#contact" class="scrolly" data-bg-img="constructive_bg_04.jpg" data-page="#tm-section-4">
								
									<span>Записаться на тест-драйв</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>

			<div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 tm-content">

					<!-- section 1 -->
					<section id="tm-section-1" class="tm-section">
						<div class="ml-auto">
							<div class="col-xl-12 col-lg-12 ">
							<h1>Новый шаг в будущее!</h1>
	
							<!-- data-nav-link holds the ID of nav item, which means this link should behave the same as that nav item  -->
						</div>
					</section>

					<!-- section 2 -->
					<section id="tm-section-2" class="tm-section tm-section-carousel">
						<div>
							            
							<div class="tm-img-container">
								<h5>Контакты</h5>
								<h4>+996 990 24 00 00 </a></h4>
								<a href="https://goo.gl/maps/pfUZuHbqbY3gP35x6"> <h5>Адрес: Кыргызстан, город Бишкек ул. Жибек-Жолу 451.</a></h5>
								<div class="s-hero__content-social">
									<a href="https://www.facebook.com/asman_electronicskg-105519778573027"><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
									<a href="https://instagram.com/asman_electronics.kg?utm_medium=copy_link"><i class="fab fa-instagram" aria-hidden="true"></i></a>
								</div>

								<div class="tm-img-slider">				
								</div>
							</div>		            		          
						</div>       		          	
					</section>

					<!-- section 3 -->
					<section id="tm-section-3" class="tm-section">						
						<div class="row mb-4">
							<header class="col-xl-12"><h2 class="tm-text-shadow">Машины</h2></header>		
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
								<div class="media tm-bg-transparent-black tm-border-white">
									<div class="media-body">
										<h3>LV0</h3>
									<img src="{% static 'img1/White.png' %}" alt=""  width="200px">
											<p>Запас хода - 410 км</p>
											<p>Емкость аккумулятора - 55.33 кВт/ч</p> 
											<p>Ускорение - 0-100 км/ч  9.6 секунд</p> 
											<p>Размер машины - (мм) 4698*1908*1696</p>
											<p>Колесная база - 2800 мм</p>
											<p>Электромотор - 150 кВт</p> 
											<p>Вес - 1820 кг</p>
											<p>Медленная зарядка - 9 часов (220V)</p>
											<p>Быстрая зарядка - 30 минут (380V) от 20%-70%</p>
									</div>
								</div>
							</div>	
							<div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
								<div class="media tm-bg-transparent-black tm-border-white">
									<div class="media-body">
										<h3>LV1</h3>
									<img src="{% static 'img1/blue.png' %}" alt=""  width="200px">
										<p>Запас хода - 410 км</p>
										<p>Емкость аккумулятора - 55.33 кВт/ч</p> 
										<p>Ускорение - 0-100 км/ч  9.6 секунд</p> 
										<p>Размер машины - (мм) 4698*1908*1696</p>
										<p>Колесная база - 2800 мм</p>
										<p>Электромотор - 150 кВт</p> 
										<p>Вес - 1820 кг</p>
										<p>Медленная зарядка - 9 часов (220V)</p>
										<p>Быстрая зарядка - 30 минут (380V) от 20%-70%</p>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
								<div class="media tm-bg-transparent-black tm-border-white">
									<div class="media-body">
										<h3>LV1 PLUS</h3>
									<img src="{% static 'img1/10.png' %}" alt=""  width="200px">
										<p>Запас хода - 520 км</p>
										<p>Емкость аккумулятора - 71.98 кВт/ч</p> 
										<p>Ускорение - 0-100 км/ч  9.6 секунд</p> 
										<p>Размер машины - (мм) 4698*1908*1696</p>
										<p>Колесная база - 2800 мм</p>
										<p>Электромотор - 150 кВт</p> 
										<p>Вес - 1920 кг</p>
										<p>Медленная зарядка - 11 часов (220V)</p>
										<p>Быстрая зарядка - 30 минут (380V) от 20%-70%</p>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
								<div class="media tm-bg-transparent-black tm-border-white">
									<div class="media-body">
										<h3>LV2</h3>
									<img src="{% static 'img1/dark.png' %}" alt=""  width="200px">
										<p>Запас хода - 520 км</p>
										<p>Емкость аккумулятора - 71.98 кВт/ч</p> 
										<p>Ускорение - 0-100 км/ч  9.6 секунд</p> 
										<p>Размер машины - (мм) 4698*1908*1696</p>
										<p>Колесная база - 2800 мм</p>
										<p>Электромотор - 150 кВт</p> 
										<p>Вес - 1920 кг</p>
										<p>Медленная зарядка - 11 часов (220V)</p>
										<p>Быстрая зарядка - 30 минут (380V) от 20%-70%</p>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
								<div class="media tm-bg-transparent-black tm-border-white">
									<div class="media-body">
										<h3>LV3</h3>
									<img src="{% static 'img1/White.png' %}" alt=""  width="200px">
										<p>Запас хода - 520 км</p>
										<p>Емкость аккумулятора - 71.98 кВт/ч</p> 
										<p>Ускорение - 0-100 км/ч  9.6 секунд</p> 
										<p>Размер машины - (мм) 4698*1908*1696</p>
										<p>Колесная база - 2800 мм</p>
										<p>Электромотор - 150 кВт</p> 
										<p>Вес - 1920 кг</p>
										<p>Медленная зарядка - 11 часов (220V)</p>
										<p>Быстрая зарядка - 30 минут (380V) от 20%-70%</p>
									</div>
								</div>
							</div>			          		
						</div>						               
					</section>

					<!-- section 4 -->
					<section id="tm-section-4" class="tm-section">
						<div class="tm-bg-transparent-black tm-contact-box-pad">
							<div class="row mb-4">
								<div class="col-sm-12">
									<header><h2 class="tm-text-shadow">Запись на тест драйв</h2></header>
								</div>
							</div>
							<div class="row tm-page-4-content">
								<div class="col-md-6 col-sm-12 tm-contact-col">
									<div class="contact_message">
										<form action="#" method="post" class="contact-form">
											<div class="form-group">
												{% csrf_token %}
												{{ form.name }}
												<br>
												{{ form.surname }}
												<br>
												{{ form.phone }}
												<br>
											</div>
											<button type="submit" class="btn tm-btn-submit tm-btn ml-auto">Отправить</button>
										</form>
									</div>
								</div>
								<div class="col-md-6 col-sm-12 tm-contact-col">
									<div class="tm-address-box">
										<p>В салоне 12,8-дюймовый сенсорный экран управления мультимедиа и 12,3-дюймовый цветной экран приборной панели. В компании отмечают уникальное сидение с 10 регулировками, уникальность которого заключается в некой запатентованной технологии для сна.</p>
										<address>				
										</address>
									</div>
								</div>
							</div>
						</div>
					</section>					
				</div>	<!-- .tm-content -->							
				<footer class="footer-link">
					<p class="tm-copyright-text">Asman-Electronics. 
                    
                    -  SKYWORTH</p>
				</footer>
			</div>	<!-- row -->			
		</div>
		<div id="preload-01"></div>
		<div id="preload-02"></div>
		<div id="preload-03"></div>
		<div id="preload-04"></div>

		<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.backstretch.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script> <!-- Slick Carousel -->

		<script>

		var sidebarVisible = false;
		var currentPageID = "#tm-section-1";

		// Setup Carousel
		function setupCarousel() {

			// If current page isn't Carousel page, don't do anything.
			if($('#tm-section-2').css('display') == "none") {
			}
			else {	// If current page is Carousel page, set up the Carousel.

				var slider = $('.tm-img-slider');
				var windowWidth = $(window).width();

				if (slider.hasClass('slick-initialized')) {
					slider.slick('destroy');
				}

				if(windowWidth < 640) {
					slider.slick({
	              		dots: true,
	              		infinite: false,
	              		slidesToShow: 1,
	              		slidesToScroll: 1
	              	});
				}
				else if(windowWidth < 992) {
					slider.slick({
	              		dots: true,
	              		infinite: false,
	              		slidesToShow: 2,
	              		slidesToScroll: 1
	              	});
				}
				else {
					// Slick carousel
	              	slider.slick({
	              		dots: true,
	              		infinite: false,
	              		slidesToShow: 3,
	              		slidesToScroll: 2
	              	});
				}

				// Init Magnific Popup
				$('.tm-img-slider').magnificPopup({
				  delegate: 'a', // child items selector, by clicking on it popup will open
				  type: 'image',
				  gallery: {enabled:true}
				  // other options
				});
      		}
  		}

  		// Setup Nav
  		function setupNav() {
  			// Add Event Listener to each Nav item
	     	$(".tm-main-nav a").click(function(e){
	     		e.preventDefault();
		    	
		    	var currentNavItem = $(this);
		    	changePage(currentNavItem);
		    	
		    	setupCarousel();
		    	setupFooter();

		    	// Hide the nav on mobile
		    	$("#tmSideBar").removeClass("show");
		    });	    
  		}

  		function changePage(currentNavItem) {
  			// Update Nav items
  			$(".tm-main-nav a").removeClass("active");
     		currentNavItem.addClass("active");

	    	$(currentPageID).hide();

	    	// Show current page
	    	currentPageID = currentNavItem.data("page");
	    	$(currentPageID).fadeIn(1000);

	    	// Change background image
	    	var bgImg = currentNavItem.data("bgImg");
	    	$.backstretch("img/" + bgImg);		    	
  		}

  		// Setup Nav Toggle Button
  		function setupNavToggle() {

			$("#tmMainNavToggle").on("click", function(){
				$(".sidebar").toggleClass("show");
			});
  		}

  		// If there is enough room, stick the footer at the bottom of page content.
  		// If not, place it after the page content
  		function setupFooter() {
  			
  			var padding = 100;
  			var footerPadding = 40;
  			var mainContent = $("section"+currentPageID);
  			var mainContentHeight = mainContent.outerHeight(true);
  			var footer = $(".footer-link");
  			var footerHeight = footer.outerHeight(true);
  			var totalPageHeight = mainContentHeight + footerHeight + footerPadding + padding;
  			var windowHeight = $(window).height();		

  			if(totalPageHeight > windowHeight){
  				$(".tm-content").css("margin-bottom", footerHeight + footerPadding + "px");
  				footer.css("bottom", footerHeight + "px");  			
  			}
  			else {
  				$(".tm-content").css("margin-bottom", "0");
  				footer.css("bottom", "20px");  				
  			}  			
  		}

  		// Everything is loaded including images.
      	$(window).on("load", function(){

      		// Render the page on modern browser only.
      		if(renderPage) {
				// Remove loader
		      	$('body').addClass('loaded');

		      	// Page transition
		      	var allPages = $(".tm-section");

		      	// Handle click of "Continue", which changes to next page
		      	// The link contains data-nav-link attribute, which holds the nav item ID
		      	// Nav item ID is then used to access and trigger click on the corresponding nav item
		      	var linkToAnotherPage = $("a.tm-btn[data-nav-link]");
			    
			    if(linkToAnotherPage != null) {
			    	
			    	linkToAnotherPage.on("click", function(){
			    		var navItemToHighlight = linkToAnotherPage.data("navLink");
			    		$("a" + navItemToHighlight).click();
			    	});
			    }
		      	
		      	// Hide all pages
		      	allPages.hide();

		      	$("#tm-section-1").fadeIn();

		     	// Set up background first page
		     	var bgImg = $("#tmNavLink1").data("bgImg");
		     	
		     	$.backstretch("img/" + bgImg, {fade: 500});

		     	// Setup Carousel, Nav, and Nav Toggle
			    setupCarousel();
			    setupNav();
			    setupNavToggle();
			    setupFooter();

			    // Resize Carousel upon window resize
			    $(window).resize(function() {
			    	setupCarousel();
			    	setupFooter();
			    });
      		}	      	
		});

		</script>
	</body>
</html>