aiohttp==3.7.4.post0
aiosocksy==0.1.2
aiotg==1.0.0
asgiref==3.4.1
async-timeout==3.0.1
attrs==21.2.0
chardet==4.0.0
Django==3.2.8
idna==3.2
motor==2.5.1
multidict==5.1.0
numpy==1.21.2
opencv-python==4.5.3.56
pymongo==3.12.0
pytz==2021.3
sqlparse==0.4.2
typing-extensions==3.10.0.2
watchdog==2.1.5
yarl==1.6.3
